/** card style: start **/
.card_section {
  display: flex;
  margin: 30px;
}

.card_section--one,
.card_section--two {
  flex-basis: 50%;
  padding: 15px;
}

.card_section--one {
  background-color: #fff;
}

.card_section--two {
  background-color: #E7E7E7;
}

.card_description {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #C1C1C1;
}

.card_description h3 {
  margin-bottom: 10px;
  white-space: break-spaces;
  width: 189px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: bold;
}

.card_footer {
  display: flex;
  justify-content: space-between;
}

.stock_loss {
  color: #EB5858;
}
.influence_value{
  color: #EB5858;
  font-weight: bold;
}
.holding_value{
 color: #000;
 font-weight: bold;
}
.chart_sec{
  display: flex;

  .chart_img,
  .chart_value{
   flex: 50%;
  }
  .chart_value{
    margin-top: 30px;

    p{
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}