.container{
    display: grid;
      grid-template-areas: "sidemenu mainmenu";
      grid-template-columns: minmax(0, 1fr)  minmax(0, 8fr);
      column-gap: 25px;
      row-gap: 25px;
  
  }
  .logo-img{
    margin: 15px 15px 0px 15px;
    width: 90px;
    height: 90px;
  }
  .logo{
    margin: 15px;
  }
  .sidebar{
    grid-area: sidemenu;
  }
  .mainmenu{
    grid-area: mainmenu;
    background-color: #f6f6f6;
    padding-top: 20px;
      padding-left: 20px;
  }
  .link{
    text-decoration: none;
    padding-top: 30px;
    color: #000;
  }
  .link_text{
    margin-top: 20px;
    margin-left: 20px;
  }
  .menu{
    width: 100%; 
  }
  .active{
    color:red;
    background-color: rgb(90, 84, 84);
  }